{% extends 'layout.html' %}

{%block body%}
  <h1>Add Article</h1>
  <!-- import the form helpers, which is in includes folder -->
  {% from "includes/_formhelpers.html" import render_field %}
    <form method='POST' actio="">
      <div class="form-group">
        <!-- this is the wtf format - we pass the field and the class -->
        {{render_field(form.title, class_="form-control")}}
      </div>

      <div class="form-group">
        {{render_field(form.body, class_="form-control", id="editor")}}
      </div>

      <p> <input type="submit" class="btn btn-primary" value="Submit"> </p>
    </form>
{%endblock%}
